<configuration>
  <system.webServer>
    
<rewrite>
    <rules>
      <rule name="server">
        <match url="server/*" />
        <conditions>
          <add input="server" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="/server.js" />
      </rule>
    </rules>
  </rewrite>
    

    <handlers>
      <add name="server" path="server.js" verb="*" modules="iisnode" />
    </handlers>
        <directoryBrowse enabled="true" />

  </system.webServer>
    <system.web>
        <identity impersonate="true" />
    </system.web>
</configuration>